@font-face {
	font-family: "SourceCodePro";
	src: url("assets/SourceCodePro-Regular.ttf");
}
@font-face {
	font-family: "SourceCodePro";
	font-weight: 900 1000;
	src: url("assets/SourceCodePro-Bold.ttf");
}
:root {
	--global-background-color: hsl(0deg 0% 99%);
	--button-text-color: hsl(0deg 0% 6.375%);
	--text-color: hsl(0deg,0%,40%,1);
	--input-text-border-color: hsl(0deg 0% 47%);
	--input-text-focused-border-color: hsl(0deg 0% 63%);
}
* {
	color: hsl(0deg,0%,40%,1);
	margin: 0;
	padding: 0;
}
html {
	background: var(--global-background-color);
	font: normal normal normal 1.2rem/1 "SourceCodePro";
}
html, body {
	height: 100%;
	max-width: 100%;
	min-height: 100%;
	width: 100%;
}
body {
	align-items: center;
	display: flex;
	flex-direction: column;
}
#result {
	
	--anchor-size: 3rem;
	
	display: inline-block;
	margin: 1rem 0rem 2rem;
	
}
#result-container {
	display: flex;
}
#result-label {
	display: flex;
	justify-content: center;
	margin: 0 0 .5rem 0;
	text-decoration: underline;
	text-decoration-thickness: .1rem;
}
#result-container {
	align-items: center;
	display: flex;
	position: relative;
}
#result-copy-button {
	background: transparent;
	border: none;
}
#result-data {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#result-data > * {
	display: flex;
	justify-content: center;
}
#result-tweet {
	
	--bounce-scale-y-0: 60%;
	--bounce-scale-y-1: 100%;
	--bounce-scale-y-2: 60%;
	--bounce-scale-y-3: 100%;
	--bounce-translate-y-0: -1.5rem;
	--bounce-translate-y-1: 0;
	
	align-items: center;
	display: flex;
	height: var(--anchor-size);
	position: absolute;
	right: calc(var(--anchor-size) * -1.1);
	width: var(--anchor-size);
	transform-origin: center bottom;
	
	animation: bounce 1.5s linear 1s infinite normal forwards running;
	
}
#result-tweet:not([href]) {
	
	display: none;
	
}
@keyframes bounce {
	5% {
		transform: scale(1, var(--bounce-scale-y-0));
	}
	15% {
		transform: scale(1, var(--bounce-scale-y-0));
	}
	25% {
		transform: scale(1, var(--bounce-scale-y-1)) translate(0, var(--bounce-translate-y-0));
	}
	40% {
		transform: scale(1, var(--bounce-scale-y-1)) translate(0, var(--bounce-translate-y-0));
	}
	45% {
		transform: scale(1, var(--bounce-scale-y-1)) translate(0, var(--bounce-translate-y-1));
	}
	50% {
		transform: scale(1, var(--bounce-scale-y-2));
	}
	60% {
		transform: scale(1, var(--bounce-scale-y-3));
	}
}
#result-tweet-image {
	
	will-change: transform;
	
	animation: spawn .3s cubic-bezier(.53,-0.52,.19,2.86) .0s 1 normal forwards running;
	
}
@keyframes spawn {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

#main {
	display: flex;
	position: relative;
	width: 100%;
}
rtc-peer {
	display: block;
	flex: 1 0 auto;
}

body:not(.display-guide) .pointer {
	
	display: none;
	
}

.pointer {
	
	align-items: center;
	display: flex;
	-display: none !important;
	flex-direction: column;
	position: absolute;
	margin: .3rem 0 0 0;
	max-width: 100%;
	left: calc(((var(--target-x) + var(--target-width) / 2) - var(--width) / 2) + var(--correction-left, 0px) - var(--correction-right, 0px));
	top: calc((var(--target-y) + var(--target-height)) + var(--correction-top, 0px) + var(--correction-bottom, 0px) + var(--before-height));
	z-index: 1;
	
}
.pointer:before {
	
	content: "👆";
	height: var(--size);
	left: calc((var(--target-offset-left) - var(--offset-left) + var(--target-width) / 2) - var(--before-width) / 2);
	top: calc(var(--before-height) * -1);
	position: absolute;
	text-shadow: 0 0 5px rgba(0,0,0,1);
	
	animation: pointing 1.5s steps(2, start) 0s infinite normal forwards running;
	
}
@keyframes pointing {
	from {
		
		transform: translate(0,0);
		
	}
	to {
		
		transform: translate(0, -.5rem);
		
	}
}
#pointer-node {
	
	background: rgba(255,40,40,1);
	border-radius: .3rem;
	content: attr(data-note);
	font: normal normal bold 80%/1.5 "源ノ角ゴシック 特細";
	letter-spacing: .15rem;
	margin: 0rem 0 0 0;
	padding: .6rem;
	
}
#pointer-content {
	
	color: rgba(255,255,255,1);
	
}
#pointer-progress {
	
	
	
}

#guide-handler {
	
	display: flex;
	justify-content: start;
	user-select: none;
	width: 100%;
	
}
#guide-handler-node {
	
	margin: .3rem;
	
}
#guide-handler-checkbox {
	
	margin: 0 .3rem 0 0;
	
}